.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items > ul {
    display: flex;
    padding: 0px 10px;
    list-style-type: none;
}

.nav-items > ul > li {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

.res-card {
    padding: 5px;
    width: 200px;
    height: 300px;
    
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-container {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;

}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}